<div class="m-5">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
       <th scope="col">Category</th>        
       <th scope="col">Address</th>
       <th scope="col">Phone</th>
  
      </tr>
    </thead>
    <tbody>
     
      <tr><th scope="row">1</th>
        <td>93 Ward Sport &amp; Dev Association</td>
        <td>Ambulance Service</td>
        <td>2/22, Poddar Nagar, Jodhpur Park, Kolkata &#8211; 700068</td>
        
        </tr>
        <tr><th scope="row">2</th>
        <td>Amra Kajan Club</td>
        <td>Ambulance Service</td>
        <td>Naihati &#8211; 743165</td>
        
        </tr>
        <tr><th scope="row">3</th>
        <td>Automobile Association of Eastern Region</td>
        <td>Ambulance Service</td>
        <td>13, Pramathesh Barua Sarani, Kolkata &#8211; 700019</td>
        
        </tr>
        <tr><th scope="row">4</th>
        <td>barasat Citizen Forum</td>
        <td>Ambulance Service</td>
        <td>Kalkapur, Barasat, Kolkata &#8211; 700124</td>
        
        </tr>

        <tr><th scope="row">5</th>
            <td>93 Ward Sport &amp; Dev Association</td>
            <td>Ambulance Service</td>
            <td>2/22, Poddar Nagar, Jodhpur Park, Kolkata &#8211; 700068</td>
            
            </tr>
            <tr><th scope="row">6</th>
            <td>Amra Kajan Club</td>
            <td>Ambulance Service</td>
            <td>Naihati &#8211; 743165</td>
            
            </tr>
            <tr><th scope="row">7</th>
            <td>Automobile Association of Eastern Region</td>
            <td>Ambulance Service</td>
            <td>13, Pramathesh Barua Sarani, Kolkata &#8211; 700019</td>
            
            </tr>
            <tr><th scope="row">8</th>
            <td>barasat Citizen Forum</td>
            <td>Ambulance Service</td>
            <td>Kalkapur, Barasat, Kolkata &#8211; 700124</td>
            
            </tr>
    </tbody>
  </table>



</div>